/*==================================================
SOBRE MI
SYNTESCH Portfolio
==================================================*/

.sobre-mi{
    position: relative;

    padding:5rem 0 5rem;
    padding-bottom: 4rem;
 border:2px solid var(--primary-pink);
    background: var(--white);
    overflow: hidden;
     border-radius:40px;
     margin:1.5rem auto 5rem;
max-width:1450px;
}

/*=============================================
FONDO
=============================================*/

.sobre-mi::before{
content:"";
position:absolute;
inset:0;
background-image:
linear-gradient(rgba(17,24,39,.04) 1px, transparent 1px),
linear-gradient(90deg, rgba(17,24,39,.04) 1px, transparent 1px);
background-size:55px 55px;
opacity:.45;
pointer-events:none;

}

.sobre-mi .container{
position:relative;
z-index:2;
max-width:1320px;

}

/*=============================================
GRID
=============================================*/

.sobre-grid{
display:grid;
grid-template-columns:minmax(520px, 1fr) 520px;
align-items:start;
gap:5rem;
}

/*=============================================
TEXTO
=============================================*/

.sobre-content{

    display:flex;
flex-direction:column;
justify-content:flex-start;

}


.sobre-content h2{

   font-size:2.2rem;
font-weight:700;
line-height:1.2;
margin-bottom:1.3rem;
max-width:520px;
}

.sobre-content h2 span{

    color:var(--health-blue);

}

.sobre-content p{

font-size:1.05rem;
line-height:1.85;
text-align:justify;
max-width:600px;
margin-bottom:1.5rem;

}

.section-number{

display:block;

margin-bottom:1.5rem;

font-size: 1rem;

font-weight:700;

letter-spacing:.25rem;

text-transform:uppercase;
text-align:center;
color:var(--primary-pink);

}


/*=============================================
BOTONES
=============================================*/

.sobre-buttons{

   display:flex;
gap:1rem;
margin-top:1rem;
justify-content:flex-start;

}

.sobre-buttons a{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:.8rem;

    text-decoration:none;

    padding:15px 32px;

    border-radius:18px;

    font-weight:600;

    transition:.35s;

}

.sobre-buttons a:first-child{

    background:var(--primary-pink);

    color:#fff;

    box-shadow:0 18px 35px rgba(236,72,153,.25);

}

.sobre-buttons a:first-child:hover{

    background:var(--health-blue);

    transform:translateY(-4px);

}

.sobre-buttons a:last-child{

    border:2px solid var(--health-blue);

    color:var(--health-blue);

    background:transparent;

}

.sobre-buttons a:last-child:hover{

    background:var(--health-blue);

    color:#fff;

    transform:translateY(-4px);

}

.media-buttons{

margin-top:1.8rem;

display:flex;

justify-content:center;

width:100%;

}

.media-buttons .btn-primary-syntesch{

width:240px;

}
/*======================FOTO============================*/
.sobre-photo{

width:80%;

height:200px;

object-fit:cover;

border-radius:24px;

margin-bottom:1.5rem;

display:block;

margin-left:auto;

margin-right:auto;

}
/*=============================================
VIDEO
=============================================*/

.sobre-media{
display:flex;

flex-direction:column;

align-items:center;

justify-content:flex-start;

gap:25px;

width:100%;


}


.sobre-media video{

    position:relative;

    width:100%;

    border-radius:30px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.35);

    background:#000;

    box-shadow:

        0 30px 70px rgba(17,24,39,.18);

}


.sobre-frame{

position:relative;

width:100%;
max-width:520px;

margin-top:1.5rem;

border-radius:30px;

overflow:hidden;

box-shadow:0 30px 70px rgba(17,24,39,.18);

}

.sobre-frame video{

display:block;

width:100%;

height:300px;

object-fit:cover;

border-radius:30px;


}

/*=============================================
BORDE GLASS
=============================================*/

.sobre-frame::after{

content:"";

position:absolute;

inset:0;

border-radius:30px;

border:1px solid rgba(255,255,255,.35);

pointer-events:none;

}



@keyframes videoGlow{

    0%{

        transform:scale(1);

        opacity:.7;

    }

    50%{

        transform:scale(1.15);

        opacity:1;

    }

    100%{

        transform:scale(1);

        opacity:.7;

    }

}

/*=============================================
DECORACIONES
=============================================*/

.sobre-mi::after{

    content:"";

    position:absolute;

    right:-180px;

    top:50%;

    width:500px;

    height:500px;

    border-radius:50%;

    background:

        radial-gradient(circle,

        rgba(94,194,253,.15),

        transparent 70%);

    filter:blur(70px);

}

/*=============================================
RESPONSIVE
=============================================*/

@media(max-width:992px){

.sobre-grid{

grid-template-columns:1fr;

gap:3rem;

}

.sobre-media{

order:-1;

}

.sobre-content{

text-align:left;

}

.sobre-content h2,
.sobre-content p,
.sobre-list{

max-width:100%;

}

.sobre-buttons{

justify-content:flex-start;
display:flex;
justify-content:center;

margin-top:1.5rem;

}

.sobre-frame{

margin:auto;

}

}
